Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteBase /

# Redirect requests from the document root (here)
# to app/ directory and hide the subfolder in the URI
RewriteCond %{REQUEST_URI} !(.*)app 
RewriteRule ^(.*)$ app/$1 [L]
